@model IEnumerable<GarbageCollection.Models.Customer>

@{
    ViewData["Title"] = "All Pickups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee's Weekly Pickups</h1>

<p>
    <a asp-controller="Employee" asp-action="CustomerList">CustomerList</a> |
    <a asp-controller="Employee" asp-route-id="Zip Code" asp-action="DailyPickup">Todays Pickups</a> |
    <a asp-controller="Employee" asp-route-id="Zip Code" asp-action="AllPickups">All  Pickups</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartSuspend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndSuspend)
            </th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPickUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartSuspend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndSuspend)
            </td>

        </tr>
}
    </tbody>
</table>
