@model IEnumerable<GarbageCollection.Models.Customer>

@{
    ViewData["Title"] = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string day;
}

<h1>CustomerList</h1>

<p>
    <a asp-controller="Employee" asp-action="CustomerList">CustomerList</a> |
    <a asp-controller="Employee" asp-route-id="Zip Code" asp-action="DailyPickup">Todays Pickups</a> |
    <a asp-controller="Employee" asp-route-id="Zip Code" asp-action="AllPickups">All  Pickups</a>
</p>
<form asp-action="FilteredCustomerList"> Select Pickup Day
    <select name="PickupDay">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
    </select>
    <input type="submit" value="submit" /> 
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartSuspend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndSuspend)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.identityUser)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialPickup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartSuspend)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndSuspend)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.identityUser.Id)
                    </td>*@
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
