@model IEnumerable<GarbageCollection.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Home Page</h1>

<p>
    <a asp-controller="Employee" asp-action="CustomerList">CustomerList</a> |
    <a asp-controller="Employee" asp-route-id="Zip Code" asp-action="DailyPickup">Todays Pickups</a> |
    <a asp-controller="Employee" asp-route-id="Zip Code" asp-action="AllPickups">All  Pickups</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.identityUser)
                </th>*@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Employee" asp-action="CustomerList">CustomerList</a> |
                    <a asp-controller="Employee" asp-route-id="Zip Code" asp-action="DailyPickup">Todays Pickups</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*<a asp-action="Create">Create New</a> |*@
@*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
